<div class="row">
  <div class="col-4">
      <ul class="list-group">
          <li class="list-group-item" routerLink="/crear-estudiante" routerLinkActive="active">Crear estudiante</li>
          <li class="list-group-item" routerLink="/actualizar-estudiante" routerLinkActive="active">Actualizar estudiante</li>
          <li class="list-group-item" routerLink="/crear-profesor" routerLinkActive="active">Crear profesor</li>
          <li class="list-group-item" routerLink="/crear-materia" routerLinkActive="active">Crear materia</li>
          <li class="list-group-item" routerLink="/asignar-materia" routerLinkActive="active">Asignar materia a alumno</li>
          <li class="list-group-item" routerLink="/asignar-notas" routerLinkActive="active">Asignar notas a estudiante</li>          
          <li class="list-group-item" routerLink="/eliminar-profesor" routerLinkActive="active">Eliminar profesor</li>
          <li class="list-group-item" routerLink="/generar-reporte" routerLinkActive="active">Generar reporte estudiante</li>          
        </ul>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>