<div class="container">
  <h1>Registrar Estudiante</h1>
  <form #nuevoEstudiante="ngForm" (ngSubmit)="onSumbit(nuevoEstudiante)">
    <div class="form-group">
      <label for="Id">Id Estudiante</label>
      <input type="text" class="form-control" id="Id" name="Id" ngModel>
    </div>
    <div class="form-group">
      <label for="Nombre">Nombre Estudiante</label>
      <input type="text" class="form-control" id="Nombre" name="Nombre" ngModel>
    </div>
    <div class="form-group">
      <label for="apellido">Apellido Estudiante</label>
      <input type="text" class="form-control" id="apellido" name="apellido" ngModel>
    </div>
    <button class="btn btn-primary btn-block">Crear</button>
  </form>
</div>
